* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow-y: hidden; */
}


/* Configurações <header> */
.header {
    background-color: rgba(255,145,77,255);
    display: flex;
    flex-direction: column;
    width: 98,5vw;
    height: 100vh;
}

/* Esta é a estilização do menu da Home*/

.menu-header {
    list-style-type: none;
    display: flex;
    padding-left: 20px;
    padding: 25px;
    font-size: 20px;
    margin-left: 4vw;

}

.menu-header li {
    margin-right: 4vw;
    padding: 5px;
    color: white;
}

.menu-header li:hover {
    color: black;   
}

#button-home {
    margin-left: 30vw;
    padding: 8px 8px 8px 8px;
    background-color: rgba(255,145,77,255);
    border-radius: 20px;
    color: white;
    border: 1px solid white;
}

#button-home:hover {
    color: black;
    border: 1px solid black;
}



/* Esta é a estilização da <div> onde está ao logo da empresa*/

.home-background {
    width: 100%;
    height: 100%;
    text-align: center;
}

/* Esta é a estilização do container Quem Somos*/

.containerQuemSomos {
    width: 98,5vw;
    height: 98,5vh;
    color: white;
    background-image: url(./img/people\ happy.jpeg);
    background-position: center;
    background-size: cover;
    /* padding-top: 6vh; */
    /* display: flex;
    /* flex-direction: column;
    justify-content: center;
    background-color: rgba(255,145,77,255); */ 
}

/* #imagemFundo {
    width: 100%;
    height: 100%;
} */

#tituloQuemSomos {
    text-align: center;
    font-size: 50px;
    padding-bottom: 10vh;
    padding-top: 10vh;
}

.container2QuemSomos {
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 20vh;
}

#lateralEsquerda {
    width: 25vw;
    height: 70vh;
    text-align: justify;
}

#lateralDireita {
    width: 25vw;
    height: 70vh;
    text-align: justify;
    padding-top: 30vh;
}

 /* Esta é a estilização do container Nossos Serviços */


 .container3NossosServiços {
     height: 100vh;
     background-color: rgb(250, 245, 242);
 }

 .container3NossosServiços>h1 {
     color: rgba(255,145,77,255);
     font-size: 40px; 
     padding-top: 2%;
     text-align: center;
     padding-bottom: 1%;
 }

 .nossos-serviços {
    display: flex;
    justify-content: center;
    align-items: center;
 }

 .img-card {
     width: 100%;
     height: 100%;
 }


 .card-serviço {
     height: 82vh;
     width: 40vw;
     text-align: center;
     display: flex;
     flex-direction: column;
     align-items: center;
     box-shadow: 2px 2px 5px rgb(189, 113, 0);
     margin: 0 20px 20px;
 }

 .card-serviço> h2 {
    color: rgba(255,145,77);
    font-size: 30px;
    padding: 10px 10px 10px 10px;
 }

 .card-serviço> p {
    color: rgb(107, 44, 4);
    font-size: 15px;
    /* padding: 5px 5px 5px 5px; */
 } 

 /* Esta é a estilização do menu dos contatos */


 .div-cards{
     display:flex;
     justify-content:center;
     align-items:center;
     background-color: rgb(250, 245, 242); ;
     /* margin:50px; */
   

   
 }
 .header-contatos{
     display:flex;
     justify-content:center;
     align-items:center;
     font-size:40px;
     height:50vh;
     background-color: rgba(255,145,77,255);
     color:white;

 }
 
    .card-contatos{
        display:flex;
        justify-content:center;
        align-items:center;
        font-size:20px;
        color: rgb(107, 44, 4);
        height:40vh;
        width:20vw;
        margin-right:2%;
    }
  
    .img-contatos{
        margin-right:2%;
        width:30%;
        height:30%;
    }

    footer{
        display:flex;
        justify-content:space-around;
        align-items:center;
        background-color:rgb(41, 40, 40);
        color:white;
    
    }
    .Transparência{
        display:flex;
        justify-content:space-evenly;
        

    }
  .Transparência>p{
    padding:10px 10px 10px 10px;
    margin-right:10px;
  }
  
    .Ouvidoria{
        display:flex;
        justify-content:space-evenly;
    }

    .Ouvidoria>p{
        padding:10px 10px 10px 10px;
        margin-right:10px;
      }


       /* Esta é a estilização da minha página de login */

       .header-login{
           height:20vh;
           background-color:rgba(255,145,77,255);
        
       }


         #icone-header{
             height:20vh;
         }

         .caixa-cpf{
             display:flex;
             align-items:center;
              flex-direction:column;
              margin-top:40px;
              height:40vh;
              border:30%;
             
         }
          .main-login{
              background-color: rgb(250, 245, 242);
              height:80vh;
              display:flex;
              align-items:center;
              justify-content:center;

          }
         .login{
             display:flex;
             align-items:center;
             justify-content:center;
             flex-direction:column;
             height:80%;
             width:30%;
             background-color:rgba(255,145,77,0.9);
             border-radius:20%;
             text-align:center;
             color:white;
            box-shadow:2px 2px 5px rgb(189, 113, 0); 
           
         }

        .caixa{
            
            border:2px solid white; 
            /* border-color:rgb(189, 113, 0); */
            border-radius:10%;
            height:10%;
            width:60%;
            background-color:rgba(255,145,77,0);
            /* margin:10px 10px 10px; */
            padding:10px 10px 10px 10px;
        }

        #botao-entrar{
            
            padding: 8px 8px 8px 8px;
            background-color:rgba(255,145,77,0);
            border-radius: 20px;
            border: 1px solid white;
            color:white;
            height:10%;
            width:20%;

        }

       #botao-entrar:hover{
           color:black;
           border:1px solid black;
       }

        input::placeholder{
            color:white;
            margin-right:5%;
            padding:10px 10px 10px 10px;
        }